body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0%;
    padding-top: 5%;
}
h1{
    font-size: 200%;
    font-weight: 700;
    font-style: italic;
    border-left: 4px solid rgb(216, 77, 77);
    height: 100px;
    padding-left: 10px;

}
h2{
    font-size: 180%;
    font-weight: 700;
}
.red-color{
    color: rgb(216, 77, 77);
}
.top-sec{
    display: flex
}
.first-sec-div{
    width: 50%;
    padding-left: 10%;
}
.first-sec-div img{
    width: 77%;

}
.button-tag{
    background-image: linear-gradient(brown,salmon);
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 3px;
}
.center{
    text-align: center;
}
.mission-sec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline-start: 100px;
    margin-inline-end: 70px;
    
}
.mission-div{
    background-color: rgb(248, 223, 221);
    width: 300px;
    height: 350px;
    padding: 15px 20px;
    border-radius: 5%;
}
.mission-div img{
    width: 50%;
}
.vission-div{
    background-color:rgb(202, 219, 210);
    width: 300px;
    height: 350px;
    padding: 15px 20px;
    border-radius: 5%;
}
.vission-div img{
    width: 50%;
}
.goals-div{
    background-color:rgb(250, 228, 210);
    width: 300px;
    height: 350px;
    padding: 15px 20px;
    border-radius: 5%;
}
.goals-div img{
    width: 50%;
}
.mid-sec{
    display: flex;
    margin-top: 100px;
    margin-right: 150px;
    background-image: url(./images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: 50px;
    
}
.mid-div{
    width: 100%;
    padding-left: 11%;
}
.mid-div img{
    width: 80%;
}
.mid-sec-add{
    display: flex;
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: right bottom;
    margin-top: 70px;
}
.bonus-sec{
    padding: 100px 200px;
    background-color: rgb(225, 225, 241);
    text-align: center;
    font-style: unset;
    font-size: 200;
    background-image: url(./images/shapes/shape-4.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.bonus-tag{
    background-image: linear-gradient(rgb(35, 37, 70),rgb(122, 187, 187));
    text-decoration: none;
    padding: 10px 40px;
    color: rgb(222, 236, 17);
    font-weight: 400;
    border-radius: 3px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-style: oblique;
    font-size: 200;
}